*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  /* width: 60%; */
  /* position: absolute; */
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;


}

header{
  /* width: 60%; */
  height: 250px;
  background: red;
}
