*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

body{
  /* width: 60%; */
  /* position: absolute; */
  margin-top: 1%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0;
  background-color: brown;


}

header{
  /* width: 60%; */
  height: 150px;
  background: red;
}

nav{
  background: green;
  height: 40px;
  margin-bottom: 5px;
}

section{
  background: lightgrey;
  width: 100%;
  height: 100%;
  float: left;
  border: 2px spolid white;
}

.aside-left{
  /* background: blue; */
  background-color: none;
  width: 20%;
  height: 100%;
  float: left;

}

section::after{
  content: "";
  display: table;
  clear:both;
}

.aside_right{
  /* background: blue; */
  background-color: none;
  width: 20%;
  height: 100%;
  float: right;
}

footer{
  background: yellow;
  width: 100%;;
  height: 50px;
  float: left;
  margin-top: 10px;
  position: relative;
  bottom: 10px;
}

.page-center{
  display: inline;
  float: left;
  /* margin: 10px; */
  /* text-align: center; */
  position: relative;
  background: black;
  width: 60%;
  /* height: 400px; */
}

.page-center article{
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
  position: absolute;
  left: 10%;


  background-color: white;
  position: absolute;
}

.widget{
  background-color: orange;
  margin-bottom: 5px;
  float: left;


  /* width: */
}
